/* primary */
$clr-primary-400: rgb(91, 164, 164);

/* neutral */
$clr-neutral-100: hsl(180, 52%, 96%);
$clr-neutral-200: hsl(180, 31%, 95%);
$clr-neutral-500: hsl(180, 8%, 52%);
$clr-neutral-800: hsl(180, 14%, 20%);
