<div class="container">
  <!--   role -->
  <label
    ><input
      [value]="jobData.role"
      #inputElRole
      (change)="captureCategory(inputElRole)"
      type="checkbox"
    />{{ jobData.role }}</label
  >
  <!--   level -->
  <label
    ><input
      [value]="jobData.level"
      #inputElLvl
      (change)="captureCategory(inputElLvl)"
      type="checkbox"
    />{{ jobData.level }}</label
  >
  <!--   languages -->

  <label *ngFor="let language of jobData.languages"
    ><input
      [value]="language"
      #inputElLang
      (change)="captureCategory(inputElLang)"
      type="checkbox"
    />{{ language }}</label
  >
</div>
