@use "../../styles/_colors" as colors;
main {
  padding-inline: 2rem;

  ul {
    list-style-type: none;

    li {
      box-shadow: 0 0.6rem 1.4rem -0.8rem colors.$clr-primary-400;
      border-radius: 0.3rem;
      border-left: 0.4rem solid colors.$clr-primary-400;
    }
    li:not(li:first-child) {
      margin-top: 2rem;
    }

    li:last-child {
      margin-bottom: 4rem;
    }
  }
}
