@use "../../styles/__colors" as colors;
.graphic-theme {
  position: relative;
  height: 10rem;
  background-color: colors.$clr-primary-400;
}

.graphic-theme::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url("../../../assets/images/bg-header-mobile.svg");
  background-size: cover;
}

@media (min-width: 768px) {
  .graphic-theme {
    height: 15rem;
  }

  .graphic-theme::before {
    background-image: url("../../../assets/images/bg-header-desktop.svg");
  }
}
