<section>
  <div class="selected-categories">
    <div>
      <p>Frontend</p>
      <button>
        <img src="../../../assets/images/icon-remove.svg" alt="remove icon" />
      </button>
    </div>
    <div>
      <p>CSS</p>
      <button>
        <img src="../../../assets/images/icon-remove.svg" alt="remove icon" />
      </button>
    </div>
    <div>
      <p>JavaScript</p>
      <button>
        <img src="../../../assets/images/icon-remove.svg" alt="remove icon" />
      </button>
    </div>
  </div>
  <button class="btn-clear">Clear</button>
</section>
