@use "../../styles/__colors" as colors;

section {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 2rem;
  margin-block: 3rem;
  box-shadow: 0 0 1rem colors.$clr-primary-400;

  div {
    display: flex;
    align-items: center;
    color: colors.$clr-primary-400;
    font-weight: 700;
    border-radius: 0.25rem;
    background-color: rgba(91, 164, 164, 0.2);
    overflow: auto;

    p {
      padding-inline: 1rem;
    }

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 3rem;
      width: 3rem;
      border: none;
      background-color: colors.$clr-primary-400;
    }
  }
}
