@use "../../styles/__colors" as colors;

section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 2rem;
  border-radius: 0.5rem;
  background-color: colors.$clr-neutral-100;
  box-shadow: 0 0 1rem colors.$clr-primary-400;
  transform: translateY(-50%);

  .selected-categories {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-block: 2rem;
    div {
      display: flex;
      align-items: center;
      color: colors.$clr-primary-400;
      font-weight: 700;
      border-radius: 0.25rem;
      background-color: rgba(91, 164, 164, 0.2);
      overflow: auto;

      p {
        padding-inline: 1rem;
      }

      button {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 3rem;
        width: 3rem;
        background-color: colors.$clr-primary-400;
        border: none;
        cursor: pointer;
        transition: 0.3s background-color;
      }

      button:hover {
        background-color: colors.$clr-neutral-800;
      }
    }
  }

  .btn-clear {
    height: 2rem;
    position: relative;
    background-color: transparent;
    border: none;
    color: colors.$clr-neutral-500;
    font-weight: 700;
    cursor: pointer;
  }

  .btn-clear:hover {
    color: colors.$clr-primary-400;
  }

  .btn-clear::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1rem;
    background-color: colors.$clr-primary-400;
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
  }

  .btn-clear:hover::after,
  .btn-clear:focus::after {
    opacity: 1;
    transform: translate3d(0, 0.2em, 0);
  }
}
