.flex-flow {
  display: flex;
  gap: 2rem;
}

img {
  height: 4rem;
  position: absolute;
  transform: translateY(-115%);
}

.offer-markets {
  gap: 1rem;
}

ul {
  list-style-type: disc;
  li:first-child {
    list-style-type: none;
  }
}
