<div class="container">
  <img [src]="jobData.logo" alt="photosnap logo" />
  <div>
    <div class="flex-flow">
      <h3 class="brand-name | fw-700">{{ jobData.company }}</h3>
      <div class="offer-markers | flex-flow fw-700">
        <div *ngIf="jobData.new" class="marker"><span>new!</span></div>
        <div *ngIf="jobData.featured" class="marker"><span>featured</span></div>
      </div>
    </div>
    <h3 class="position | fw-700">{{ jobData.position }}</h3>
    <ul class="flex-flow">
      <li>{{ jobData.postedAt }}</li>
      <li>{{ jobData.contract }}</li>
      <li>{{ jobData.location }}</li>
    </ul>
  </div>
</div>
