<div class="container">
  <img src="../../../assets/images/photosnap.svg" alt="photosnap logo" />
  <div>
    <div class="flex-flow">
      <h3 class="brand-name | fw-700">Photosnap</h3>
      <div class="offer-markers | flex-flow fw-700">
        <div class="marker"><span>new!</span></div>
        <div class="marker"><span>featured!</span></div>
      </div>
    </div>
    <h3 class="position | fw-700">Senior Frontend Developer</h3>
    <ul class="flex-flow">
      <li>1d ago</li>
      <li>Full Time</li>
      <li>USA only</li>
    </ul>
  </div>
</div>
